* {
    padding: 0px;
    margin: 0px;
}

/* body {
    width: 80%;
    margin-left: 10%;
} */

header,
main {
    background-color: aliceblue;
    box-sizing: border-box;
}

/* main {
    background-color: aliceblue;
} */

ul {
    list-style: none;
}

header {
    display: flex;
}

header ul {
    display: flex;
}

nav>ul>li {
    padding: 1px;
    margin: 5px;

}

nav {
    margin-left: 100px;
    height: 330px;
    align-items: center;
}

article {
    /* margin-top: 50px; */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* border: 1px blue solid; */
}

article>h1 {
    display: flex;
    justify-content: center;
}

article>p {
    padding-top: 20px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-align: center;
}

nav {
    display: flex;
}

#menu1 a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;

}

#menu1 a:hover {
    background-color: brown;
}


.textred {
    color: red;
}

.fbox {
    display: flex;
    /* justify-content:space-between;
    margin: 10px;
    box-sizing: border-box; */
}

.fbox>div {
    margin-right: 20px;
    width: 20%;
}

.fbox>p {
    width: 90%;
    height: 150px;
    /* border: 1px blue solid; */
    display: flex;
    align-items: center;
}

.fbox span {
    display: contents;
    color: blue;
    font-size: 20px;
}

img {
    border-radius: 20%;
}

h2 {
    margin-bottom: 30px;
    background-color: skyblue;
    padding: 5px 30px;
}

section {
    margin-top: 50px;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
}

footer>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

header>div>img {
    border-radius: 10%;
    margin-left: 70px;
    margin-top: 20px;
}

/*  */
@media screen and {max-width: 1024px) {
    body {
        width: 100%;
        margin-left: 0%;
    }

}